/.vs
/CommomLibrary/obj
/CommomLibrary/bin
/WebAPITemplateTest/obj
/WebAPITemplateTest/bin
/webAPITemplete/obj
/webAPITemplete/bin
/webAPITemplete/Logs
/SignalRChatTemplete/obj
/SignalRChatTemplete/bin
/SignalRChatTemplete/Logs
/ElasticsearchWithKibanaTemp/obj
/ElasticsearchWithKibanaTemp/bin
/SignalRChatTemp/Logs
/SignalRChatTemp/obj
/SignalRChatTemp/bin
/WebAPITemp/obj
/WebAPITemp/bin
/WebAPITemp/Logs
/WebAPITempTest/obj
/WebAPITempTest/bin
