/.vs
/CommomLibrary/obj
/CommomLibrary/bin
/WebAPITemplateTest/obj
/WebAPITemplateTest/bin
/webAPITemplete/obj
/webAPITemplete/bin
/webAPITemplete/Logs
/SignalRChatTemplete/obj
/SignalRChatTemplete/bin
/SignalRChatTemplete/Logs
